/ShooterTEST/.vs/ShooterTEST/v15/sqlite3/storage.ide
/TestProject/.vs/TestProject/v15/.suo
/TestProject/.vs/TestProject/v15/sqlite3/storage.ide
/TestProject/TestProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestProject/TestProject/obj/x86/Debug/TestProject.csproj.CoreCompileInputs.cache
